html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: inherit;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-size: inherit;
}

button,
input,
textarea {
    font-family: inherit;
    border: none;
}

button,
input,
a,
textarea,
select {
    outline: 0;
}

strong {
    font-weight: bold;
}

.wrapper {
    min-height: 100vh;
}
