/*===== Fonts styling =====*/

// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $primary;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22px;
}

.underline {
    display: block;
    font-weight: 500;
    position: relative;
    transition: color $s-delay;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform $s-delay;
        z-index: -1;
    }

    &:hover,
    &:focus {
        color: $primary;
        &:after {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

}

.underline--active{
    color: $primary!important;
    &:after {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.highlight {
    transition: color $s-delay;

    &:hover,
    &:focus {
        color: $secondary;
    }
}
