/*===== Vars styling =====*/

$primary: #222222;

$secondary: #f7ba15;
$secondary-darker: #f79d15;

$tint: #525252;
$tint-lighter: #D9D9D9;

$shadow: rgba(0, 0, 0, 0.1);

$s-delay: 0.4s;
$l-delay: 0.8s;
