/*===== Shop styling =====*/
.cart {
    &__title {
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 40px;
        display: inline-block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60%;
            height: 2px;
            background-color: $secondary;
        }
    }

    &__products{
        background-color: $primary;
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        min-height: 600px;
    }

    &__empty{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        svg{
            position: absolute;
            fill: $tint;
            width: 250px;
            height: 250px;
            z-index: -1;
            opacity: 0.3;
        }
    }
    
    &__empty-title{
        font-weight: 500;
        opacity: 0.9;
        color: $tint-lighter;
    }

    &__list {
        max-width: 1400px;
        width: 95%;
        margin: 0 auto;
        padding: 40px 0;
    }

    &__item{
        display: grid;
        grid-column-gap: 40px;
        align-items: center;
        grid-template-areas: "img content amount price delete";
        grid-template-columns: 140px 3fr 1fr 1.1fr 50px;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__item-img {
        grid-area: img;
        width: 120px;
        height: 120px;
        overflow: hidden;
    }

    &__item-img-img {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__item-content{
        grid-area: content;
    }

    &__item-title{
        color: #fff;
        line-height: 32px;
    }

    &__item-amount{
        grid-area: amount;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary;
        border-radius: 20px;
        width: 160px;
        height: 40px;
        margin: 0 auto;
    }

    &__item-amount-btn{
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: transparent;
        margin: 0 15px;
    }

    &__item-amount-number{
        font-size: 20px;
        font-weight: 600;
    }

    &__item-price{
        grid-area: price;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }

    &__item-delete-btn{
        grid-area: delete;
        cursor: pointer;
        background: transparent;
        svg{
            width: 22px;
            fill: $secondary;
            transition: fill $s-delay;
        }

        &:hover,&:focus{
            svg{
                fill: #fff;
            }
        }
    }

    &__final {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        font-size: 18px;
        background-color: $secondary;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        strong{
            margin-left: 10px;
            font-size: 22px;
        }
    }

    &__final-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 35px;
        border: 2px solid $primary;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        transition: color $s-delay, background $s-delay;
        &:hover,&:focus{
            background-color: $primary;
            color: #fff;
        }
    }
}
