/*===== Shop styling =====*/
.shop{
    &__inner{
        padding: 80px 0;
        display: grid;
        grid-gap: 40px;
        grid-template-areas: 
        'filter sorter'
        'filter products';
        grid-template-columns: 300px 1fr;
        grid-template-rows: 40px auto;


        .filter{
            grid-area: filter;
        }

        .sorter{
            grid-area: sorter;
        }

        .products{
            grid-area: products;
        }
    }
}

