/*===== Wrapper styling =====*/
.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr auto;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    padding: 80px 0;
}

.footer {
    grid-area: footer;
}
