.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: 120px minmax(0px, 1fr) auto;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    padding: 80px 0;
}

.footer {
    grid-area: footer;
}
