@media (max-width: 575px) {
    //  HEADER
    .header {
        &__brand-logo {
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0);
        }
    }

    //  FOOTER
    .footer {
        &__list {
            flex-direction: column;
        }

        &__item {
            text-align: center;
            margin-right: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // CART
    .cart {
        &__final {
            display: flex;
            flex-direction: column;
            font-size: 20px;
        }

        &__final-amount{
            margin-bottom: 20px;
        }

        &__final-price{
            margin-bottom: 35px;
        }

        &__final-btn{
            width: 160px;
            height: 35px;
        }

        &__item{
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-areas: 
            "img delete"
            "content content"
            "amount price";
            grid-template-columns: 1fr 1fr;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        &__item-img {
            margin: 0 auto;
            width: 120px;
            height: 120px;
            padding: 2px;
        }


        &__item-content{
            margin: 15px 0 30px 0;
        }

        &__item-title{
            text-align: center;
            font-size: 16px;
            line-height: 22px;
        }

        &__item-amount{
            margin: 0 auto;
        }

        &__item-price{
            margin: 0 auto;
        }

        &__item-delete-btn{
            margin: auto 0;
        }

    }
}
