/*===== Pagination styling =====*/
.pagination {
    margin: 50px 0 0 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $tint-lighter;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 3px 6px 12px $shadow;
        transition: all $s-delay;

        &:hover,
        &:focus {
            background-color: $tint;
            color: #fff;
        }
    }

    &__link--active {
        background-color: $tint;
        color: #fff;
    }

    &__link--arrow {
        background-color: transparent;
        box-shadow: none;
        svg {
            fill: $tint;
            transition: fill $s-delay;
        }

        &:hover,
        &:focus {
            background-color: transparent;
            svg {
                fill: $primary;
            }
        }
    }
}
