/*===== Products styling =====*/
.sorter {
    display: flex;
    align-items: center;

    &__title {
        margin-right: 30px;
        font-size: 18px;
        font-weight: 700;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        margin-right: 40px;
    }

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        transition: color $s-delay;
        svg {
            margin-left: 10px;
            width: 15px;
            fill: $secondary-darker;
            transition: transform $s-delay;
        }

        &:hover,&:focus{
            .sorter__dropdown{
                transform: scaleY(1);
            }
        }
    }

    &__label--up{
        svg{
            transform: rotate(180deg);
        }
    }


    &__dropdown{
        position: absolute;
        top: 25px;
        left: 0;
        background-color: #fff;
        box-shadow: 3px 4px 12px $shadow;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform $s-delay;
    }

    &__dropdown-option{
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid $tint-lighter;
        &:last-child{
            margin-bottom: 0;
            border-bottom: none;
            padding: 10px 15px;
        }

        transition: background $s-delay, color $s-delay;

        &:hover,&:focus{
            background-color: $secondary;
            color: #fff;
        }
        
    }

    &__dropdown-radio{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:checked + .sorter__dropdown-bg{
            background-color: $secondary;
        }
    }


    &__dropdown-bg{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}
